
@{
    ViewData["Title"] = "Adminstrator View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Book

<h1>Update Book - <i>@Model.Title</i></h1>
<form asp-action="UpdateBook" asp-controller="Home">
    <table cellpadding="2">
        <tr>
            <td>Book ID: </td><td><input type="text" value="@Model.Id" name="id" readonly /></td>
        </tr>
        <tr>
            <td>Title: </td>
            <td><input type="text" value="@Model.Title" name="title"/></td>
        </tr>
        <tr>
            <td>Author: </td>
            <td><input type="text" value="@Model.Author" name="author"/></td>
        </tr>
        <tr>
            <td>Number Available: </td>
            <td><input type="text" value="@Model.Available" name="avail"/></td>
        </tr>
        <tr>
            <td>Media Type: </td>
            <td><input type="text" value="@Model.Genre" name="genre" /></td>
        </tr>
    </table>
    <button type="submit">Update</button>
</form>

